<footer class="main-footer">
    <ul>
      <li><a class="social-links" href="https://twitter.com/dnvargas19">Twitter</a></li>
      <li><a class="social-links" href="https://github.com/dnvargas">GitHub</a></li>
      <li><a class="social-links" href="https://codepen.io/dnvargas/">Codepen</a></li>
      <li><a class="social-links" href="https://teamtreehouse.com/daniellevargas">Treehouse</a></li>
    </ul>
    <p class="copyright">Copyright &copy; <script type="text/javascript">
      var d = new Date()
      document.write(d.getFullYear())
      </script> Danielle Vargas</p>
  </footer>