<div class="content">
    <header>
      <nav class="main-nav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="blog"class="active">Blog</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </nav>
      <div class="header">
      <h1 class="header-title">Danielle Vargas</h1>
      <p class="header-text">&lt;Learning Web Design &amp; Development&gt;</p>
      </div>
    </header>
</div> 